
.buttons {
    padding: 10px;

  text-align: center;

}
#a:hover {
  box-shadow: 0 12px 16px 0 rgb(255, 255, 255), 0 17px 50px 0 rgba(0,0,0,0.5);
  border-radius: 25px;
  color: black;
}
#a1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.5);
    border-radius: 25px;
    color: black;
  }
#a2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.5);
    border-radius: 25px;
    color: black;
  }
#a3:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.5);
    border-radius: 25px;
    color: black;
  }
  #a {
    /* background-color: lightblue;
    padding: 7px; */
    position: relative;
  background-color: #008B8B; 
  border: none;
  color: white;
  padding: 10px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 13px;
  font-family: cursive;
}
#a1 {
    /* background-color: lightblue;
    padding: 7px;
    display: inline-block; */
  background-color: lightseagreen; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 13px;
  font-family: cursive;
}
#a2 {
  /* background-color: lightblue;
  padding: 7px;
  display: inline-block; */
background-color: #6495ED; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 24px;
border-radius: 13px;
font-family: cursive;
}
#a3 {
  /* background-color: lightblue;
  padding: 7px;
  display: inline-block; */
background-color: #dB7093; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 24px;
border-radius: 13px;
font-family: cursive;
}

#h1 {
    
}
#heading {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
}
#heading1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  font-size:40px;
}

#heading2 {
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:Cornsilk;
  font-size:20px;
}

.buttons1 {
  /* background-color: yellow; */
  padding: 10px;
  margin-left: 38%;
text-align: left;
display: inline-block;

}

.buttons2 {
  /* background-color: yellow; */
  padding: 10px;
text-align: left;
display: inline-block;
}

.buttons3 {
  /* background-color: yellow; */
  padding: 10px;
  margin-left: 37%;
/* text-align: left; */
/* display: inline; */
padding-left: 50;
}


